<header>
  <mat-toolbar style="background-color: #063c6ee5 !important">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon></button
    ><span class="example-spacer"></span>
    <div class="logo-container">
      <img
        src="/assets/images/logoLionLightBlueGold.png"
        alt="Lion Systems Logo"
        id="logo"
      />
    </div>
    
    <!--<span class="example-spacer"></span> <span style="color: #e6c614f3">Lion Systems</span > -->
<span class="example-spacer"></span> <span><a href="#home">Inicio</a></span
    ><span class="example-spacer"></span>
    <span><a href="#services">Servicios</a></span>
    <span class="example-spacer"></span>
    <span><a href="#about">Sobre nosotros</a></span
    ><span class="example-spacer"></span>
    <span><a href="#portfolio">Casos de éxito</a></span
    ><span class="example-spacer"></span>
    <span><a href="#contact">Contacto</a></span>

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon></button
    ><span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon></button
    ><span class="example-spacer"></span>
  </mat-toolbar>
</header>
<!-- Resto del contenido del sitio -->
