
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #063c6ee5 !important; /* Color de fondo azul espacial */
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px; /* Ajusta el tamaño según tu logo */
    margin-right: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Color blanco para los enlaces */
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fdd835; /* Color dorado al pasar el cursor */
}
